[submodule ".vim/bundle/clojure"]
	path = .vim/bundle/clojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule ".vim/bundle/xterm-color-table"]
	path = .vim/bundle/xterm-color-table
	url = git://github.com/guns/xterm-color-table.vim.git
[submodule ".vim/bundle/handlebars"]
	path = .vim/bundle/handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
